
<section>
        <h1><center>About</center></h1>

<p> ANALYSE is learning analytics tool developed for Open edX. This is a beta release which extends the learning analytics functionality of Open edX with 12 new visualizations. A new tab has been addded in the course dashboard to access ANALYSE. ANALYSE has been developed in the <a href="http://gradient.it.uc3m.es/">Gradient</a> lab, which is the e-learning laboratory inside the <a href="http://www.gast.it.uc3m.es/">GAST</a> group, as a part of the <a href="http://www.it.uc3m.es/vi/">Department of Telematic Engineering</a>, at the <a href="http://www.uc3m.es/">Universidad Carlos III of Madrid</a> (Spain). The main people involved in the design and implementation of this tool have been the following: </p>
<ul style="text-align: justify" value="circle">
        <li>
        José Antonio Gascón Pinedo - Universidad Carlos III de Madrid - jgascon@pa.uc3m.es
        </li>
        <li>
        José Antonio Ruipérez Valiente - IMDEA Networks Institute and Universidad Carlos III de Madrid- jruipere@it.uc3m.es
        </li>
        <li>
        Pedro Jose Muñoz Merino - Universidad Carlos III de Madrid - pedmume@it.uc3m.es
        </li>
        <li>
        Héctor Javier Pijeira Díaz - Universidad Carlos III de Madrid (by implementing his Final Year Project)
        </li>
        <li>
        Javier Santofimia Ruiz - Universidad Carlos III de Madrid (by implementing his Final Year Project)
        </li>
        <li>
        Javier  Ignacio  Orcoyen  Chaves - Universidad Carlos III de Madrid (by implementing his Final Year Project)
        </li>
        <li>
        Carlos Delgado Kloos - Universidad Carlos III de Madrid
        </li>
        </ul>
Acknowledgements. This work has been supported by:
<ul>
<li>
The "eMadrid" project (Regional Government of Madrid) under grant S2013/ICE-2715
</li>
 <li>
The RESET project (Ministry of Economy and Competiveness) under grant TIN2014-53199-C3-1-R
</li>
        </ul>

</section>
