<%! from django.utils.translation import ugettext as _ %>
<%page args="select_id, video_names, video_ids"/>

% if video_names is not None:
<form class="inputtype option-input ">
  <select name = "videoselect2[]" id="${select_id}" multiple="multiple" size="8" style='height: 60%;'>
    % for video_name, video_id in zip(video_names, video_ids):
	    	<option${_(" value=\"{vid_id}\">{vid}").format(vid=video_name, vid_id=video_id)}</option>
    % endfor
  </select>
</form>
<div>
    <button onclick="rangevideos2()">Draw again</button>
    <button onclick="reset()">Reset</button>
</div>
% else:
<p> This course contains no videos. </p>
% endif
<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple videos.</p>
<script>

function getSelectedOptions2(sel) {
    var opt;
    var opts = new Array ();
    var option;
    // options in select list
    for (var i=0, len=sel.options.length; i<len; i++) {
        opt = sel.options[i].label;
        option=sel.options[i];
        // check if selected
        if ( option.selected ) {
            // add to array of option elements
            opts.push(opt);
        }
    }
    // return array containing selected option elements
    return opts;
}

function rangevideos2(){

	document.getElementById('${select_id}').multiple=true;//set up of multiple select
	var selectOptions = document.getElementById('${select_id}');//get all videos labels
	var opts=getSelectedOptions2(selectOptions);// get only the select videos
	//read of the localStorage
	var json = JSON.parse(localStorage['dateJSON2']);

	var vectorValues = [];
    var sumvalues =0;

    for (var i=1;i<json.length;i++){
        vectorValues[i-1]=json[i][1];
        sumvalues=sumvalues+json[i][1];
    }

    json[0][2]={type: 'string', role: 'tooltip'};
    for (var j=1;j<json.length;j++){
        json[j][1]=(json[j][1]/sumvalues)*100;
        json[j][2]= vectorValues[j-1] + ' min' + '\n' + (json[j][1].toFixed(2)) +' %';

    }

    var video_names_sorted=${video_names_sorted};
    var json1 = [];
    var cont=1;
    json1 [0] = json[0];
    for (var j=0; j<video_names_sorted.length; j++) {
	    for (var i=1;i<json.length; i++) {
	        var n = (json[i][0]).localeCompare(video_names_sorted[j]);
            if (n==0){
                //Assign the value of the video selected
                json1 [cont] = json[i];
                cont= 1 + cont;
            }
	    }
	}

    var chart_number = 8;
    localStorage.setItem('chart_number',JSON.stringify(chart_number));
	var limitvideos=8; // limit of videos to select
	// if you select a range of videos valid
	if (opts.length<=limitvideos){
		var jsonN = new Array ();
		var cont=1;
		// You get the header of graphic
		jsonN [0] = json1[0]
		for (var i=1, len=json1.length; i<len; i++) {
			for (var j=0, lon=opts.length; j<lon; j++) {
				//You compare the list of videos with the selected
				//alert(json[i][0]);
				var n = (json1[i][0]).localeCompare(opts[j]);
				if (n==0){
					//Assign the value of the video selected
					jsonN [cont] = json1[i];
					cont= 1 + cont;
				}
			}
		}
	    reDrawChart(chart_number, jsonN);
	}else{
		alert("The maximum selection of videos is eight");
	}

}

</script>