<%! from django.utils.translation import ugettext as _ %>

 <script>
 $(function() {
   $( "#from" ).datepicker({
     dateFormat: "yy-mm-dd",	
     defaultDate: "+1w",
     changeMonth: true,
     numberOfMonths: 1,
     onClose: function( selectedDate ) {
       $( "#to" ).datepicker( "option", "minDate", selectedDate );
     }
   });
   $( "#to" ).datepicker({
     dateFormat: "yy-mm-dd",	
     defaultDate: "+1w",
     changeMonth: true,
     numberOfMonths: 1,
     onClose: function( selectedDate ) {
       $( "#from" ).datepicker( "option", "maxDate", selectedDate );
     }
   });
 });
 </script>

<label for="from">From</label>
<input type="text" id="from" name="from">
<label for="to">to</label>
<input type="text" id="to" name="to">
<div>
   <button onclick="rangedate()">Draw dates</button>
   <button onclick="reset()">Reset</button>
</div>
<script>

function rangedate(){
	// get the start and the end date
	var datestart = document.getElementById('from').value;
	var dateend = document.getElementById('to').value;
	// Convert in Date format
	var selectfrom = new Date(document.getElementById('from').value);
	var selecto = new Date(document.getElementById('to').value);
	//how many milliseconds have passed since January 1, 1970, 00:00:00 GMT
	var startTime = selectfrom.getTime();
	var endloop=selecto.getTime();
	var limitdate=11;// Limit of dates to show in the graphic
	var chart_number=5;// Number of the graphic
	localStorage.setItem('chart_number',JSON.stringify(chart_number));
	//New json that the user want to see
	var jsonN = new Array ();
	var cont=1;// Number of content
	//Obtain the data of the call of AJAX
    var jsondate = JSON.parse(localStorage['dateJSON']);
	console.log(Object.keys(localStorage));
	jsonN [0] = jsondate[0];// Save the header of the data
	for (var i=1, lon=jsondate.length; i<lon; i++) {
		var date = new Date(jsondate[i][0]);
		for (var j=startTime; j<=endloop; j+= 86400000) {
			dayIter =new Date(j);
			//Compare the selected dates with the dates of the server
			if (date.getDate()==dayIter.getDate() &&  dayIter.getMonth()==date.getMonth() && dayIter.getYear()==date.getYear()){
				jsonN [cont] = jsondate[i];
				cont= 1 + cont;
			}
		}
		
	}
	
	if (jsonN.length<2){
		console.log("NULL")
		jsonN=null;
	}
	if (cont<=limitdate){
		reDrawChart(chart_number, jsonN);
	}else{
		alert("Please select a smaller number of dates ");
	}
	
}
</script>
 